<koken:pagination>

	<div class="measure_editable">

		<ul class="nav_content split lh_plus">

			<li>
				<koken:pagination_previous>
					<koken:link class="pag mute larr" title="{{ previous_page.number }}" bind_to_key="left" data-paginate-pjax="true">
						{{ language.newer }}
					</koken:link>
				<koken:else>
					<span class="pag disabled larr">
						{{ language.newer }}
					</span>
				</koken:pagination_previous>
			</li>

			<li>
				<koken:link to="essays" class="pag mute">
					{{ language.latest }}
				</koken:link>
			</li>

			<li>
				<koken:pagination_next>
					<koken:link class="pag mute rarr" title="{{ next_page.number }}" bind_to_key="right" data-paginate-pjax="true">
						{{ language.older }}
					</koken:link>
				<koken:else>
					<span class="pag disabled rarr">
						{{ language.older }}
					</span>
				</koken:pagination_next>
			</li>
		</ul>

	</div>

</koken:pagination>