<div class="kpgrid">

	<div class="kpgrid_wrap">

		<div class="kpgrid_content">

			<koken:loop>

				<koken:event>

					<div class="kpgriditem">

						<koken:include file="layouts/event-album-grid.html" />
						<koken:include file="layouts/event-albumup-grid.html" />
						<koken:include file="layouts/event-content.html" />
						<koken:include file="layouts/event-essay.html" />

					</div>

				</koken:event>

			</koken:loop>

		</div>

	</div>

</div>

<koken:include file="js/pillar_axis.html" />